/* Row Enter Animation */
.row-enter {
  opacity: 0;
  transform: translateY(-11px);
}

.row-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

/* Row Exit Animation */
.row-exit {
  opacity: 1;
  transform: translateY(0);
}

.row-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms, transform 300ms;
}
